<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>com.geng.crm.filter.EncodingFilter</filter-class>
    </filter>
   <filter-mapping>
       <filter-name>EncodingFilter</filter-name>
       <url-pattern>*.do</url-pattern>
   </filter-mapping>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>com.geng.crm.filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>*.do</url-pattern>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <!--正常情况下  listener是位于filter的下面  servlet的上面-->
    <listener>
        <listener-class>com.geng.crm.listener.SysInitListener</listener-class>
    </listener>
   <servlet>
       <servlet-name>UserController</servlet-name>
       <servlet-class>com.geng.crm.settings.web.controller.UserController</servlet-class>
   </servlet>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/settings/user/login.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ActivityController</servlet-name>
        <servlet-class>com.geng.crm.settings.workbench.web.controller.ActivityController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActivityController</servlet-name>
        <url-pattern>/workbench/activity/getUserList.do</url-pattern>
        <url-pattern>/workbench/activity/saveActivity.do</url-pattern>
        <url-pattern>/workbench/activity/pageList.do</url-pattern>
        <url-pattern>/workbench/activity/deleteActivity.do</url-pattern>
        <url-pattern>/workbench/activity/getUserListAndActivity.do</url-pattern>
        <url-pattern>/workbench/activity/updateActivity.do</url-pattern>
        <url-pattern>/workbench/activity/detail.do</url-pattern>
        <url-pattern>/workbench/activityRemark/showRemarkList.do</url-pattern>
        <url-pattern>/workbench/activityRemark/deleteRemark.do</url-pattern>
        <url-pattern>/workbench/activityRemark/saveRemark.do</url-pattern>
        <url-pattern>/workbench/activityRemark/updateRemark.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ClueController</servlet-name>
        <servlet-class>com.geng.crm.settings.workbench.web.controller.ClueController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClueController</servlet-name>
        <url-pattern>/workbench/clue/getUserList.do</url-pattern>
        <url-pattern>/workbench/clue/saveClue.do</url-pattern>
        <url-pattern>/workbench/clue/pageList.do</url-pattern>
        <url-pattern>/workbench/clue/getClue.do</url-pattern>
        <url-pattern>/workbench/clue/updateClue.do</url-pattern>
        <url-pattern>/workbench/clue/deleteClue.do</url-pattern>
        <url-pattern>/workbench/clue/detail.do</url-pattern>
        <url-pattern>/workbench/clue/showRemark.do</url-pattern>
        <url-pattern>/workbench/clue/saveRemark.do</url-pattern>
        <url-pattern>/workbench/clue/deleteRemark.do</url-pattern>
        <url-pattern>/workbench/clue/updateRemark.do</url-pattern>
        <url-pattern>/workbench/clue/showRelation.do</url-pattern>
        <url-pattern>/workbench/clue/unbind.do</url-pattern>
        <url-pattern>/workbench/clue/getActivityListSS.do</url-pattern>
        <url-pattern>/workbench/clue/bind.do</url-pattern>
        <url-pattern>/workbench/clue/showActivityListSSS.do</url-pattern>
        <url-pattern>/workbench/clue/convert.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>contactsController</servlet-name>
        <servlet-class>com.geng.crm.settings.workbench.web.controller.ContactsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>contactsController</servlet-name>
        <url-pattern>/workbench/contacts/pageList.do</url-pattern>
        <url-pattern>/workbench/contacts/createContacts.do</url-pattern>
        <url-pattern>/workbench/contacts/updateContacts.do</url-pattern>
        <url-pattern>/workbench/contacts/editContacts.do</url-pattern>
        <url-pattern>/workbench/contacts/deleteContacts.do</url-pattern>
        <url-pattern>/workbench/contacts/detail.do</url-pattern>
        <url-pattern>/workbench/contacts/saveRemark.do</url-pattern>
        <url-pattern>/workbench/contacts/deleteRemark.do</url-pattern>
        <url-pattern>/workbench/contacts/showRemark.do</url-pattern>
        <url-pattern>/workbench/contacts/updateRemark.do</url-pattern>
        <url-pattern>/workbench/contacts/showRelation.do</url-pattern>
        <url-pattern>/workbench/contacts/searchBind.do</url-pattern>
        <url-pattern>/workbench/contacts/bind.do</url-pattern>
        <url-pattern>/workbench/contacts/unbind.do</url-pattern>


    </servlet-mapping>
    <servlet>
        <servlet-name>CustomerController</servlet-name>
        <servlet-class>com.geng.crm.settings.workbench.web.controller.CustomerController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerController</servlet-name>
        <url-pattern>/workbench/customer/pageList.do</url-pattern>
        <url-pattern>/workbench/customer/createCustomer.do</url-pattern>
        <url-pattern>/workbench/customer/updateCustomer.do</url-pattern>
        <url-pattern>/workbench/customer/editCustomer.do</url-pattern>
        <url-pattern>/workbench/customer/deleteCustomer.do</url-pattern>
        <url-pattern>/workbench/customer/detail.do</url-pattern>
        <url-pattern>/workbench/customer/showRemark.do</url-pattern>
        <url-pattern>/workbench/customer/saveRemark.do</url-pattern>
        <url-pattern>/workbench/customer/deleteRemark.do</url-pattern>
        <url-pattern>/workbench/customer/updateRemark.do</url-pattern>
        <url-pattern>/workbench/customer/showContacts.do</url-pattern>
        <url-pattern>/workbench/customer/deleteContacts.do</url-pattern>
        <url-pattern>/workbench/customer/getCustECharts.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TransController</servlet-name>
        <servlet-class>com.geng.crm.settings.workbench.web.controller.TransController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TransController</servlet-name>
        <url-pattern>/workbench/transaction/pageList.do</url-pattern>
        <url-pattern>/workbench/transaction/detail.do</url-pattern>
        <url-pattern>/workbench/transaction/saveTran.do</url-pattern>
        <url-pattern>/workbench/transaction/showActivity.do</url-pattern>
        <url-pattern>/workbench/transaction/getCustomerName.do</url-pattern>
        <url-pattern>/workbench/transaction/showContacts.do</url-pattern>
        <url-pattern>/workbench/transaction/deleteContacts.do</url-pattern>
        <url-pattern>/workbench/transaction/editTran.do</url-pattern>
        <url-pattern>/workbench/transaction/edit.do</url-pattern>
        <url-pattern>/workbench/transaction/showInit.do</url-pattern>
        <url-pattern>/workbench/transaction/showRemark.do</url-pattern>
        <url-pattern>/workbench/transaction/saveRemark.do</url-pattern>
        <url-pattern>/workbench/transaction/deleteRemark.do</url-pattern>
        <url-pattern>/workbench/transaction/updateRemark.do</url-pattern>
        <url-pattern>/workbench/transaction/showHistory.do</url-pattern>
        <url-pattern>/workbench/transaction/changeStage.do</url-pattern>
        <url-pattern>/workbench/transaction/getTranECharts.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>VisitController</servlet-name>
        <servlet-class>com.geng.crm.settings.workbench.web.controller.VisitController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VisitController</servlet-name>
        <url-pattern>/workbench/visit/pageList.do</url-pattern>
        <url-pattern>/workbench/visit/searchContact.do</url-pattern>
        <url-pattern>/workbench/task/saveTask.do</url-pattern>
        <url-pattern>/workbench/task/deleteTask.do</url-pattern>
        <url-pattern>/workbench/visit/editTask.do</url-pattern>
        <url-pattern>/workbench/task/editTask.do</url-pattern>
        <url-pattern>/workbench/visit/detail.do</url-pattern>
        <url-pattern>/workbench/visit/saveRemark.do</url-pattern>
        <url-pattern>/workbench/visit/showRemark.do</url-pattern>
        <url-pattern>/workbench/visit/updateRemark.do</url-pattern>
        <url-pattern>/workbench/visit/deleteRemark.do</url-pattern>
    </servlet-mapping>
</web-app>